<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.listner.ListnersTry"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Listeners">
        <classes>
            <class name="org.example.listner.DataProviderPractise"></class>
        </classes>
       
    </test>
</suite>